<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esirong.timer"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 授权 -->
    <!-- 接受启动完成广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写SDCARD权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 环境 -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.esirong.timer" />
    <!-- 应用基本配置 -->
    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 界面组件配置 -->
        <activity
            android:name="com.esirong.timer.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name="com.esirong.timer.activity.MainActivity"
            >
        </activity>
        <!-- 编辑页 -->
        <activity
            android:name="com.esirong.timer.activity.TaskEditActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            >
        </activity>
        <!--  -->

        <activity
            android:name="com.esirong.timer.activity.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            >
        </activity>
        <activity android:name="com.esirong.timer.activity.GuideActivity" >
        </activity>

        <!-- 设置 -->
        <activity android:name="com.esirong.timer.activity.SettingActivity" >
        </activity>
        <!-- 设置提醒 -->
        <activity android:name="com.esirong.timer.activity.RemindActivity" >
        </activity>
        <activity
            android:name="com.esirong.timer.activity.AlarmAlertActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/BottomViewTheme_Defalut" />

        <!-- ==== 服务组件配置===== -->
        <!-- 触妇器组件配置 -->
        <receiver android:name="com.esirong.timer.receiver.AlarmInitReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="com.esirong.timer.receiver.AlarmInitReceiver" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.esirong.timer.receiver.AlarmReceiver"
            android:process=":remote" />

        <!-- 数据源组件配置 -->
        <!-- 依赖类库配置 -->
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>